/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #f4debe;
  color: #191617;

  --dutch-white: #f4debe;
  --lion: #bfa082;
  --olive: #847b45;
  --feldgrau: #4d675a;
  --sandy-brown: #f5aa5f;
  --eerie-black: #191617;
}
